<header class="intro-header" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Practice Blog</h1>
                    <hr class="small">
                    <span class="subheading">A simple blog built for practice</span>
                </div>
            </div>
        </div>
    </div>
</header>
